Binaries
DerivedDataCache
Intermediate
Saved
Content/Skybox/starmap_2020_16k.uasset
Content/Skybox/starmap_2020_16k.exr
Content/Skybox/milkyway_2020_8k.uasset
Content/Skybox/milkyway_2020_8k.exr
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

